<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição em seu evento: <strong>{{ title }}</strong> </p>
<p>
  <big>Nome: <strong>{{user}}</strong> se inscreveu.</big>
  <br />
  Fique atento !
  <br />
  <br />
  <small>
    Lembrando que ele não poderá se inscrever novamente neste evento.
  </small>
</p>
